- hosts: node
  tasks:
    - name: Create a k8s namespace
      kubernetes.core.k8s:
        name: argocd
        api_version: v1
        kind: Namespace
        state: present

    - name: Add Argocd chart repo
      kubernetes.core.helm_repository:
        name: argo
        repo_url: "https://argoproj.github.io/argo-helm"
        binary_path: /snap/bin/helm

    - name: Deploy Argocd chart using set values on target
      kubernetes.core.helm:
        binary_path: /snap/bin/helm
        name: argocd
        chart_ref: argo/argo-cd
        release_namespace: argocd
        values:
          configs:
            params:
              server.basehref: /argocd
              server.insecure: true
              server.rootpath: /argocd
          global:
            domain: "{{ hostname }}"

    - name: Apply argocd manifest to the cluster
      kubernetes.core.k8s:
        state: present
        namespace: argocd
        template: data/argocd-ingress.yaml.j2

    - name: Fetch admin password by name
      shell: kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath="{.data.password}" | base64 -d
      register: admin_secret

    - name: Print URL
      debug:
        msg: "https://{{ hostname }}/argocd"

    - name: Print admin password
      debug:
        var: admin_secret.stdout
