- hosts: node
  vars:
    k8s_namespace: pihole
  tasks:
    - name: Create a k8s namespace
      kubernetes.core.k8s:
        name: "{{ k8s_namespace }}"
        api_version: v1
        kind: Namespace
        state: present

    - name: Create pihole certificate issuer
      kubernetes.core.k8s:
        state: present
        namespace: "{{ k8s_namespace }}"
        template: data/certificate-issuer.yaml.j2

    - name: Add Pihole chart repo
      kubernetes.core.helm_repository:
        name: mojo2600
        repo_url: "https://mojo2600.github.io/pihole-kubernetes/"
        binary_path: /snap/bin/helm

    - name: Deploy Pihole chart using set values on target
      kubernetes.core.helm:
        binary_path: /snap/bin/helm
        name: pihole
        chart_ref: mojo2600/pihole
        release_namespace: "{{ k8s_namespace }}"
        values:
          ingress:
            enabled: true
            ingressClassName: traefik
            annotations:
              cert.manager.io/cluster-issuer: pihole
              traefik.ingress.kubernetes.io/router.entrypoints: web, websecure
            path: /pihole
            pathType: Prefix
            hosts:
              - "{{ hostname }}"
            tls:
              - secretName: domain-tls # pragma: allowlist secret
                hosts:
                  - "{{ hostname }}"
          # If using in the real world, set up admin.existingSecret instead.
          # adminPassword: admin

    - name: Print URL
      debug:
        msg: "https://{{ hostname }}/pihole"
