- hosts: node
  tasks:
    - name: Create a k8s namespace
      kubernetes.core.k8s:
        name: whoami
        api_version: v1
        kind: Namespace
        state: present

    - name: Apply whoami manifest to the cluster
      kubernetes.core.k8s:
        state: present
        namespace: whoami
        template: data/whoami-ingress.yaml.j2

    - name: Print URL
      debug:
        msg: "https://{{ hostname }}/whoami"
