- hosts: node
  vars:
    k8s_namespace: monitoring
  tasks:
    - name: Create a k8s namespace
      kubernetes.core.k8s:
        name: "{{ k8s_namespace }}"
        api_version: v1
        kind: Namespace
        state: present

    - name: Create Grafana certificate issuer
      kubernetes.core.k8s:
        state: present
        namespace: "{{ k8s_namespace }}"
        template: data/certificate-issuer.yaml.j2

    # https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
    - name: Add Grafana chart repo
      kubernetes.core.helm_repository:
        name: grafana
        repo_url: "https://grafana.github.io/helm-charts"
        binary_path: /snap/bin/helm

    - name: Deploy Grafana chart
      kubernetes.core.helm:
        binary_path: /snap/bin/helm
        name: grafana
        chart_ref: grafana/grafana
        release_namespace: "{{ k8s_namespace }}"
        values:
          baseURL: "{{ hostname }}"
          grafana.ini:
            server:
              domain: "{{ hostname }}"
              root_url: "https://{{ hostname }}/grafana/"
              serve_from_sub_path: true
          ingress:
            enabled: true
            ingressClassName: traefik
            annotations:
              cert.manager.io/cluster-issuer: grafana
              traefik.ingress.kubernetes.io/router.entrypoints: web, websecure
            path: "/grafana"
            pathType: Prefix
            hosts:
              - "{{ hostname }}"
            tls:
              - secretName: domain-tls # pragma: allowlist secret

    - name: Fetch admin password by name
      shell: kubectl get secret grafana -n {{ k8s_namespace }} -o jsonpath="{.data.admin-password}" | base64 -d
      environment:
        KUBECONFIG: /home/ubuntu/.kube/config
      register: admin_secret

    - name: Print URL
      debug:
        msg: "https://{{ hostname }}/grafana"

    - name: Print admin password
      debug:
        var: admin_secret.stdout
