- hosts: node
  tasks:
    - name: Create a k8s namespace
      kubernetes.core.k8s:
        name: monitoring
        api_version: v1
        kind: Namespace
        state: present

    - name: Apply Grafana manifest to the cluster
      kubernetes.core.k8s:
        state: present
        namespace: monitoring
        template: data/grafana-certs.yaml.j2

    # https://github.com/grafana/helm-charts/blob/main/charts/grafana/values.yaml
    - name: Add Grafana chart repo
      kubernetes.core.helm_repository:
        name: grafana
        repo_url: "https://grafana.github.io/helm-charts"
        binary_path: /snap/bin/helm

    - name: Deploy Grafana chart
      kubernetes.core.helm:
        binary_path: /snap/bin/helm
        name: grafana
        chart_ref: grafana/grafana
        release_namespace: monitoring
        force: True
        values:
          baseURL: "{{ hostname }}"
          grafana.ini:
            server:
              domain: "{{ hostname }}"
              root_url: "https://{{ hostname }}/grafana/"
              serve_from_sub_path: true
          ingress:
            enabled: true
            ingressClassName: traefik
            annotations:
              cert.manager.io/cluster-issuer: grafana
              traefik.ingress.kubernetes.io/router.entrypoints: web, websecure
            path: /grafana
            pathType: Prefix
            hosts:
              - "{{ hostname }}"
            tls:
              - secretName: domain-tls # pragma: allowlist secret

    - name: Print URL
      debug:
        msg: "https://{{ hostname }}/grafana"
