apiVersion: cert-manager.io/v1
kind: Issuer
metadata:
  name: acme
spec:
  acme:
    server: https://acme-v02.api.letsencrypt.org/directory
    privateKeySecretRef:
      name: acme
    solvers:
      - http01:
          ingress:
            ingressClassName: traefik
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: argocd
spec:
  secretName: domain-tls # <===  Name of secret where the generated certificate will be stored.
  dnsNames:
    - "{{ hostname | default(default_hostname) }}"
  issuerRef:
    name: acme
    kind: Issuer
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: argocd-ingress
  annotations:
    cert.manager.io/cluster-issuer: argocd
    traefik.ingress.kubernetes.io/router.entrypoints: web, websecure
spec:
  ingressClassName: traefik
  rules:
    - host: "{{ hostname | default(default_hostname) }}"
      http:
        paths:
          - path: /argocd
            pathType: Prefix
            backend:
              service:
                name: argocd-server
                port:
                  number: 80
  tls:
    - secretName: domain-tls
