- name: Create a k8s namespace
  kubernetes.core.k8s:
    name: whoami
    api_version: v1
    kind: Namespace
    state: present

- name: Copy whoami manifest
  template:
    src: "k8s_manifests/whoami.yaml.j2"
    dest: "{{ ansible_facts['user_dir'] }}/whoami_install.yaml"
    mode: "0644"

- name: Apply whoami manifest to the cluster
  kubernetes.core.k8s:
    state: present
    namespace: whoami
    src: "{{ ansible_facts['user_dir'] }}/whoami_install.yaml"

- name: Print URL
  debug:
    msg: "https://{{ hostname | default(default_hostname) }}/whoami"
