- name: Create a k8s namespace
  kubernetes.core.k8s:
    name: pihole
    api_version: v1
    kind: Namespace
    state: present

- name: Add Pihole chart repo
  kubernetes.core.helm_repository:
    name: mojo2600
    repo_url: "https://mojo2600.github.io/pihole-kubernetes/"
    binary_path: /snap/bin/helm

- name: Deploy Pihole chart using set values on target
  kubernetes.core.helm:
    binary_path: /snap/bin/helm
    name: pihole
    chart_ref: mojo2600/pihole
    release_namespace: pihole
    values:
      persistentVolumeClaim:
        enabled: true
      dnsHostPort:
        enabled: true
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          cert.manager.io/cluster-issuer: pihole
          traefik.ingress.kubernetes.io/router.entrypoints: web, websecure
        path: /
        pathType: Prefix
        hosts:
          - "{{ hostname | default(default_hostname) }}"
      # If using in the real world, set up admin.existingSecret instead.
      # adminPassword: admin
