- name: Create a k8s namespace
  kubernetes.core.k8s:
    name: argocd
    api_version: v1
    kind: Namespace
    state: present

- name: Add Argocd chart repo
  kubernetes.core.helm_repository:
    name: argo
    repo_url: "https://argoproj.github.io/argo-helm"
    binary_path: /snap/bin/helm

- name: Deploy Argocd chart using set values on target
  kubernetes.core.helm:
    binary_path: /snap/bin/helm
    name: argocd
    chart_ref: argo/argo-cd
    release_namespace: argocd
    values:
      configs:
        params:
          server.basehref: /argocd
          server.insecure: true
          server.rootpath: /argocd
      global:
        domain: "{{ hostname | default(default_hostname) }}"

- name: Copy argocd ingress manifest
  template:
    src: "k8s_manifests/argocd_ingress.yaml.j2"
    dest: "{{ ansible_facts['user_dir'] }}/argocd_ingress.yaml"
    mode: "0644"

- name: Apply argocd manifest to the cluster
  kubernetes.core.k8s:
    state: present
    namespace: argocd
    src: "{{ ansible_facts['user_dir'] }}/argocd_ingress.yaml"

- name: Fetch admin password by name
  shell: kubectl -n argocd get secret argocd-initial-admin-secret -o jsonpath="{.data.password}" | base64 -d
  register: admin_secret

- name: Print URL
  debug:
    msg: "https://{{ hostname | default(default_hostname) }}/argocd"

- name: Print admin password
  debug:
    var: admin_secret.stdout
